.resio {
    width: 100%;
    height: 0;
    padding-bottom: 53%;
    background: red;
    position: relative;
    overflow: hidden;
img {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
}
.pp{
    .row {
    margin: 15px;
        
    }
    *[class*=col]{
    padding: 15px;}
}

.pp{
p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
}


.par {
    opacity:0;
    -webkit-transition:all .3s; -o-transition:all .3s; transition:all .3s;
    .open &{
    opacity: 1;
    
        
    }
}
